/*@tree-w: 0;*/
.conatiner-fluid > div {
  padding: 5px;
}
.tree-container {
  width: 92vw;
  margin: 0 auto;
  position: relative;
}
.tree-container .tree-holder {
  position: relative;
}
.tree-container .tree-holder .alert {
  /*            position: absolute;
                        top: 0;
                        right: 0;
                        left: 0;
                        z-index: 100;
                        opacity: 0.90;*/
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  /*            &:hover {
                            opacity: 1;
                        }*/
}
.tree-container .tree-menu {
  float: left;
  width: 25%;
  height: 87vh;
  max-height: 25%;
}
.tree-container .tree-menu .panel-group {
  max-height: 25%;
}
.tree-container .ajax-loader {
  background-color: rgba(100, 100, 100, 0.1);
  z-index: 100;
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.tree-container .ajax-loader span {
  display: block;
  height: 50%;
  vertical-align: middle;
}
.tree-container .ajax-loader i {
  display: block;
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
}
.genealogy-tree {
  overflow: scroll;
  height: 87vh;
  max-height: 87vh;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  /*overflow-x: auto;*/
  /*overflow-y: auto;*/
  overflow: auto;
  /* The node */
}
.genealogy-tree .node {
  width: 80px;
  height: 30px;
  margin: 0 2px;
  border: 1px solid transparent;
  border-color: black;
  border-radius: .25rem;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.genealogy-tree .node,
.genealogy-tree .node a {
  /*text-align: justify;*/
}
.genealogy-tree .node.male {
  background-color: #d9edf7;
}
.genealogy-tree .node.male,
.genealogy-tree .node.male a {
  color: #31708f;
}
.genealogy-tree .node.male.dead {
  background-color: #eef7fb;
}
.genealogy-tree .node.female {
  background-color: #f2dede;
}
.genealogy-tree .node.female,
.genealogy-tree .node.female a {
  color: #a94442;
}
.genealogy-tree .node.female.dead {
  background-color: #f9f0f0;
}
.genealogy-tree .node.dead {
  position: relative;
}
.genealogy-tree .node.dead:after {
  content: '';
  border-top: 3px solid black;
  border-radius: 3px;
  position: absolute;
  width: 20px;
  height: 20px;
  top: 2px;
  left: 2px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.genealogy-tree .node.dead.exporting:after {
  display: none;
}
.genealogy-tree .node.clan {
  background-color: #dff0d8;
}
.genealogy-tree .node.clan,
.genealogy-tree .node.clan a {
  color: #3c763d;
}
.genealogy-tree .node.clan.dead {
  background-color: #dff0d8;
}
.genealogy-tree .node.clan.dead,
.genealogy-tree .node.clan.dead a {
  color: #3c763d;
}
.genealogy-tree .node.clan:after {
  border-top: none;
}
.genealogy-tree .node a {
  cursor: help;
  word-wrap: break-word;
}
a.disabled,
a[disabled] {
  pointer-events: none;
}
.panel-danger .btn {
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;
}
@media (min-width: 979px) {
  .tree-container {
    height: 88vh;
    max-height: 88vh;
  }
}
.hidden {
  display: none;
  visibility: hidden;
}
.visible-phone {
  display: none !important;
}
.visible-tablet {
  display: none !important;
}
.hidden-desktop {
  display: none !important;
}
.visible-desktop {
  display: inherit !important;
}
@media (min-width: 768px) and (max-width: 979px) {
  .hidden-desktop {
    display: inherit !important;
  }
  .visible-desktop {
    display: none !important ;
  }
  .visible-tablet {
    display: inherit !important;
  }
  .hidden-tablet {
    display: none !important;
  }
}
@media (max-width: 767px) {
  .hidden-desktop {
    display: inherit !important;
  }
  .visible-desktop {
    display: none !important;
  }
  .visible-phone {
    display: inherit !important;
  }
  .hidden-phone {
    display: none !important;
  }
}
.visible-print {
  display: none !important;
}
@media print {
  .visible-print {
    display: inherit !important;
  }
  .hidden-print {
    display: none !important;
  }
}
.jOrgChart.l2r {
  -webkit-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
.jOrgChart.l2r .node {
  width: 30px;
  height: 80px;
}
.jOrgChart.l2r .node a {
  display: inline-block;
  -webkit-transform: rotate(90deg) translateX(24px);
  -moz-transform: rotate(90deg) translateX(24px);
  -ms-transform: rotate(90deg) translateX(24px);
  -o-transform: rotate(90deg) translateX(24px);
  transform: rotate(90deg) translateX(24px);
}
.jOrgChart.l2r .node.dead:after {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 3px;
  left: auto;
  right: 3px;
}
.jOrgChart.r2l {
  -webkit-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
.jOrgChart.r2l .node {
  /*.rotate(-90deg);*/
  width: 30px;
  height: 80px;
}
.jOrgChart.r2l .node a {
  display: inline-block;
  -webkit-transform: rotate(-90deg) translateX(-24px);
  -moz-transform: rotate(-90deg) translateX(-24px);
  -ms-transform: rotate(-90deg) translateX(-24px);
  -o-transform: rotate(-90deg) translateX(-24px);
  transform: rotate(-90deg) translateX(-24px);
}
.jOrgChart.r2l .node.dead:after {
  -webkit-transform: rotate(225deg);
  -moz-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  -o-transform: rotate(225deg);
  transform: rotate(225deg);
  top: auto;
  left: auto;
  bottom: 2px;
  right: 6px;
}
.chart-controls {
  position: absolute;
  width: 31px;
  top: 10px;
  right: 10px;
  opacity: 0.7;
  z-index: 100;
  -webkit-transition: opacity 0.4s ease;
  -moz-transition: opacity 0.4s ease;
  -ms-transition: opacity 0.4s ease;
  -o-transition: opacity 0.4s ease;
  transition: opacity 0.4s ease;
}
.chart-controls:hover {
  opacity: 1;
}
.chart-controls .chart-control {
  background-color: #eee;
  color: #888;
  width: 31px;
  height: 31px;
  border-radius: 2px;
  cursor: pointer;
  overflow: hidden;
  /*margin: 1px 1px;*/
  -webkit-transition: color 0.4s ease;
  -moz-transition: color 0.4s ease;
  -ms-transition: color 0.4s ease;
  -o-transition: color 0.4s ease;
  transition: color 0.4s ease;
}
.chart-controls .chart-control:hover {
  color: #000;
}
.chart-controls .chart-control i {
  width: 31px;
  height: 31px;
  text-align: center;
}
/*# sourceMappingURL=genealogy.css.map */