@tree-branches-color: black;

/* Basic styling */
.jOrgChart {

    /* Draw the lines */
    .line {
        font-size: 10px;
        height: 20px;
        width: 4px;
    }

    .left {
        border-left: 2px solid @tree-branches-color;
        border-right: 0;
    }

    .right {
        border-left: 0;
        border-right: 2px solid @tree-branches-color;
    }

    /* node cell */
    td {
        vertical-align: middle;
    }
}