/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 14, 2017, 2:04:27 PM
    Author     : hshatnawi
*/

@container-w: 96vw;
@container-h: 84vh;

@menu-w: 25%;
@menu-h: @container-h - 1;

@holder-w: 75%;
@holder-h: @container-h - 1;

/*@tree-w: 0;*/
@tree-h: @holder-h;

@font-size: 14px;

@node-w: 64px;
@node-h: 30px;
@node-font-size: 12px;

@color-tree-branches: #8e8c84;
@color-bg-male: #d9edf7;
@color-fg-male: #31708f;
@color-bg-female: #f2dede;
@color-fg-female: #a94442;
@color-bg-dead: #eee;
@color-fg-dead: #485c66;
@color-bg-clan: #dff0d8;
@color-fg-clan: #3c763d;
@color-highlight: #e0273c;
@highlight-color: #e0273c;
@highlight-width: 32px;

@border-radius: 4px;
@btn-dim: 31px;
@btn-padding: 5px;
@btn-margin: 3px;

