@import "../variables.less";
@import "../mixins/transform.less";

/* Layout */

body.modal-open {
    overflow: hidden;
}

.tree-container {
    /*width: @container-w;*/
    margin: 0 auto;
    position: relative;

    &.strech {
        width: 100%;
        max-width: 100%;
        height: 100%;
        max-height: 100%;

        .chart-container {
            width: 100%;
            max-width: 100%;
            height: 100%;
            max-height: 100%;
        }
    }

    .alert {
        /*            position: absolute;
                    top: 0;
                    right: 0;
                    left: 0;
                    z-index: 100;
                    opacity: 0.90;*/
        .transition(all 0.4s ease);

        /*            &:hover {
                        opacity: 1;
                    }*/
    }

    .ajax-loader {
        background-color: rgba(100, 100, 100, 0.3);
        z-index: 100;
        display: none;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;

        span {
            display: block;
            height: 50%;
            vertical-align: middle;
        }

        i {
            display: block;
            vertical-align: middle;
            margin-left: auto;
            margin-right: auto;
        }
    }
}

.chart-container {
    height: @tree-h;
    max-height: @tree-h;

    /* The node */
    .node {
        position: relative;

        width: @node-w;
        height: @node-h;

        border: 1px solid transparent;
        /*border: 0;*/
        border-color: @tree-branches-color;
        border-radius: .25rem;
        /*box-shadow: inset 0 1px 1px rgba(0,0,0,.075);*/
        /*box-shadow: 0 3px 12px 6px rgba(0,0,0,.16);*/
        box-shadow: 0 0 9px rgba(0, 0, 0, 0.16);

        &:hover {
            /*border-color: @tree-branches-color;*/
            box-shadow: 0 0 9px rgba(0, 0, 0, 0.32);
        }

        &.male {
            background-color: @color-bg-male;
            &, a {
                color: @color-fg-male;
            }

            &.dead {
                background-color: lighten(@color-bg-male, 5%);
            }
        }

        &.female {
            background-color: @color-bg-female;
            &, a {
                color: @color-fg-female;
            }

            &.dead {
                background-color: lighten(@color-bg-female, 5%);
            }
        }

        &.dead {
            position: relative;

            &:after {
                content: '';
                border-top: 2px solid black;
                border-radius: 3px;

                position: absolute;

                width: 20px;
                height: 20px;
                top: 2px;
                left: 2px;

                .rotate(-45deg);
            }

            &.exporting {
                &:after {
                    display: none;
                }
            }
        }
        
        &.branch {
            background-color: @color-bg-branch;
            &, a {
                color: @color-fg-branch;
            }

            &.dead {
                background-color: @color-bg-branch;
                &, a {
                    color: @color-fg-branch;
                }

            }

            &:after {
                border-top: none;
            }
        }

        &.clan {
            background-color: @color-bg-clan;
            &, a {
                color: @color-fg-clan;
            }

            &.dead {
                background-color: @color-bg-clan;
                &, a {
                    color: @color-fg-clan;
                }

            }

            &:after {
                border-top: none;
            }
        }

        &.timeline-node {
            .transition(all 0.4s ease);
            /*opacity: 0.25;*/

            &.male {
                &.dead {
                    background-color: @color-bg-male;
                }
            }

            &.female {
                &.dead {
                    background-color: @color-bg-female;
                }
            }

            &.gray-node {
                background-color: #444;
                opacity: 0.25;

                &.male {
                    &.dead {
                        background-color: #444;
                    }
                }

                &.female {
                    &.dead {
                        background-color: #444;
                    }
                }

                &, a {
                    color: #eee;
                }
            }

            &.transparent-node {
                opacity: 0.25;
            }

            &.empty-node {
                content: '';
                width: 10px;
                height: 10px;
                margin-bottom: 10px;
                opacity: 0.25;

                a {
                    display: none;
                }
            }

            &:after {
                display: none;
            }
        }

        &.highlight {
            outline: none;
            box-shadow: 0 0 @highlight-width @highlight-color;
        }

        > a {
            font-size: @node-font-size;
            cursor: help;
            word-wrap: break-word;
        }
    }

    tr {
        .transition(visibility 0.4s ease);
        .transition(display 0.4s ease);
    }
}

a.disabled, a[disabled] {
    pointer-events: none;
}

.panel-danger {
    .btn {
        color: #fff;
        background-color: #d9534f;
        border-color: #d43f3a;
    }
}

.modal {
    background: @card-bg;
    color: @card-fg;

    border: 0;
    padding: 0;

    cursor: auto;

    border: 1px solid transparent;
    border-color: @tree-branches-color;
    border-radius: @border-radius;
    /*box-shadow: inset 0 1px 1px rgba(0,0,0,.075);*/
    box-shadow: 0 0 9px rgba(0, 0, 0, 0.16);

    -webkit-transition: all 0.4s ease, top 1ms, left 1ms, bottom 1ms, right 1ms;
    -moz-transition:    all 0.4s ease, top 1ms, left 1ms, bottom 1ms, right 1ms;
    -ms-transition:     all 0.4s ease, top 1ms, left 1ms, bottom 1ms, right 1ms;
    -o-transition:      all 0.4s ease, top 1ms, left 1ms, bottom 1ms, right 1ms;
    transition:         all 0.4s ease, top 1ms, left 1ms, bottom 1ms, right 1ms;

    > .panel-heading {
        background: transparent;        
        border: 0;
    }

    a.close-modal {
        top: 8px;
        right: 8px;
        background: none;
        width: auto;
        height: auto;
        text-indent: initial;
    }
}

.tm-bg-white-translucent {
    background-color: rgba(255,255,255,0.8);
    padding: 30px 40px;
    height: 65vh;

    border-color: @tree-branches-color;
    border-radius: @border-radius;
    /*box-shadow: inset 0 1px 1px rgba(0,0,0,.075);*/
    box-shadow: 0 0 9px rgba(0, 0, 0, 0.16);
}

.tm-home-fa {
    display: block;
    text-align: center;
    padding: 15px 0 30px 0;
}

@media (min-width: 979px) {
    .tree-container {
        height: @container-h;
        max-height: @container-h;
    }
}

@media (max-width: 979px) {
    .tree-container {
        height: @container-h;
        max-height: @container-h;
    }

    .blocker {
        padding: 10px;

        .modal {
            width: auto;
            max-width: none;

            .panel-heading {
                padding: 8px 20px 8px 8px;
            }

            .panel-body {
                padding: 8px;
            }
        }
    }

    .tm-3-col-textbox {
        max-width: 100%;
        padding-left: 10px;
        padding-right: 10px;
        margin-bottom: 30px;
        width: 100%;
    }

    .tm-bg-white-translucent {
        height: auto;
    }
}