@import "../variables.less";
@import "../mixins/transform.less";

/* Timeline */

.timeline-nav {
    height: 64px;

    &.well {
        background-color: @control-bg;
        color: @control-fg;
    }

    .play-control {
        float: left;
        width: 40px;

        .timeline-control {
            border: 0;
            background: transparent;
            z-index: 999;
        }
    }

    .play-bar {
        float: right;
        width: 94%;
        padding: 0 20px;
        text-overflow: ellipsis;
        overflow: hidden;

        .slider {
            width: 100% !important;
            .user-select();

            .slider-tick-label-container {
                .slider-tick-label {
                    font-size: 12px;
                }
            }
        }
    }
}

@media only screen and (max-width: 760px) {
    .timeline-nav {
        height: 54px;

        &.well {
            margin-bottom: 10px;
        }

        &.well-sm {
            padding: 6px;    
        }

        .play-control {
            width: 36px;

            button {
                padding: 1px;
            }
        }

        .play-bar {
            width: 90%;
            padding: 0 16px;

            .slider {
                &.slider-horizontal {
                    .slider-track {
                        height: 6px;
                        margin-top: -5px;
                        top: 50%;
                    }    

                    .slider-tick-label-container {
                        margin-top: 15px;
                    }
                }

                .slider-tick-label-container .slider-tick-label {
                    font-size: 10px;
                }   
            }

            .slider-handle, .slider-tick {
                width: 16px;
                height: 16px;
            }
        }
    }
}

@media only screen and (max-width: 480px) {
    .timeline-nav {
        .play-control {
        }

        .play-bar {
            width: 82%;
        }
    }
}

@-moz-document url-prefix() { 
    .timeline-nav {
        .play-bar {
            overflow: inherit;

            .slider {
                .slider-tick-label-container {
                    overflow: hidden;
                }
            }
        }
    } 
}

