/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 14, 2017, 2:04:27 PM
    Author     : hshatnawi
*/
/*@tree-w: 0;*/
/* Controls */
.chart-container .chart-controls {
  position: absolute;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.chart-container .chart-controls:hover {
  opacity: 1;
}
.chart-container .chart-controls .navbar {
  margin: 0;
  min-height: 31px;
}
.chart-container .chart-controls .navbar .nav-collapse {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 31px;
  right: 0;
  bottom: 0;
  margin: 0;
  margin-left: 3px;
  padding-right: 0;
  padding-left: 0;
  width: 100%;
}
.chart-container .chart-controls .navbar .nav-collapse .navbar-form {
  border: 0;
  margin: 0;
  padding: 0;
}
.chart-container .chart-controls .navbar .nav-collapse input {
  width: 100%;
  height: 31px;
}
.chart-container .chart-controls .navbar-nav {
  margin: 0;
}
.chart-container .chart-controls .navbar-nav > li {
  background-color: #eee;
  background-repeat: no-repeat;
  background-position: center;
  /*opacity: 0.7;*/
  width: 31px;
  height: 31px;
  text-align: center;
  cursor: pointer;
  margin-bottom: 3px;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  border-radius: 4px;
  margin-left: auto;
  margin-right: 3px;
}
.chart-container .chart-controls .navbar-nav > li.separator {
  content: ' ';
  visibility: hidden;
  background-color: transparent;
  width: 15.5px;
  height: 15.5px;
}
.chart-container .chart-controls .navbar-nav > li.separator:hover,
.chart-container .chart-controls .navbar-nav > li.separator:focus {
  background-color: transparent;
}
.chart-container .chart-controls .navbar-nav > li:hover,
.chart-container .chart-controls .navbar-nav > li:focus {
  opacity: 1;
  background-color: #e1e1e1;
}
.chart-container .chart-controls .navbar-nav > li.dropdown-label {
  width: inherit;
  padding: 0 10px;
}
.chart-container .chart-controls .navbar-nav > li > a {
  color: #4d4d4d;
  padding: 5px 0;
  margin: 0;
}
.chart-container .chart-controls .navbar-nav > li > a:focus,
.chart-container .chart-controls .navbar-nav > li > a:hover {
  background-color: transparent;
}
.chart-container .chart-controls.vertical .navbar {
  min-height: inherit;
  max-width: 31px;
}
.chart-container .chart-controls.vertical .navbar-nav > li {
  margin-right: auto;
  margin-bottom: 3px;
}
.chart-container .chart-controls .nav .open > a,
.chart-container .chart-controls .nav .open > a:hover,
.chart-container .chart-controls .nav .open > a:focus {
  background: transparent;
  color: #4d4d4d;
}
.chart-container .chart-controls .dropdown-menu {
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  min-width: 220px;
  /* Animation */
  display: block;
  opacity: .3;
  -o-transform-origin: top center;
  -webkit-transform-origin: top center;
  -moz-transform-origin: top center;
  -ms-transform-origin: top center;
  transform-origin: top center;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  -webkit-transform: scale(1, 0);
  -moz-transform: scale(1, 0);
  -ms-transform: scale(1, 0);
  -o-transform: scale(1, 0);
  transform: scale(1, 0);
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.chart-container .chart-controls .dropdown-menu .panel-heading {
  padding: 6px 8px;
}
.chart-container .chart-controls .dropdown-menu .panel-heading .filter-input {
  width: 100%;
  font-size: 14px;
  padding: 4px 6px;
  border: 1px solid #ddd;
}
.chart-container .chart-controls .dropdown-menu .panel-body {
  padding: 0 10px;
  text-align: left;
}
.chart-container .chart-controls .dropdown-menu .panel-body ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.chart-container .chart-controls .dropdown-menu .panel-body ul li {
  padding: 8px;
  border-bottom: 1px solid #ddd;
  margin-top: -1px;
  /* Prevent double borders */
  text-decoration: none;
  text-align: left;
  font-size: 14px;
  color: black;
  display: block;
}
.chart-container .chart-controls .dropdown-menu .panel-body ul li label {
  margin-bottom: 0;
  font-weight: normal;
}
.chart-container .chart-controls .dropdown-menu .panel-body ul li input[type='checkbox'] {
  margin-right: 6px;
}
.chart-container .chart-controls .dropdown-menu .panel-body ul li:hover:not(.header) {
  background-color: #eee;
}
.chart-container .chart-controls .dropdown-menu .panel-body ul li a {
  padding: 0;
}
.chart-container .chart-controls .dropdown-menu .panel-body ul li a.header {
  background-color: #e2e2e2;
  cursor: default;
}
.chart-container .chart-controls .dropdown-menu .panel-body ul li a:hover:not(.header) {
  background-color: #eee;
}
.chart-container .chart-controls .open > .dropdown-menu {
  -webkit-transform: scale(1, 1);
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  transform: scale(1, 1);
  opacity: 1;
}
.chart-container .chart-controls-bottom {
  display: none;
  /*        width: @control-dim;*/
  bottom: 10px;
  left: 10px;
  right: 10px;
  /*height: 80px;*/
  /*opacity: 0.7;*/
  /* Animation */
  display: block;
  opacity: .3;
  -o-transform-origin: bottom center;
  -webkit-transform-origin: bottom center;
  -moz-transform-origin: bottom center;
  -ms-transform-origin: bottom center;
  transform-origin: bottom center;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  -webkit-transform: scale(1, 0);
  -moz-transform: scale(1, 0);
  -ms-transform: scale(1, 0);
  -o-transform: scale(1, 0);
  transform: scale(1, 0);
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.chart-container .chart-controls-bottom.open {
  /*display: block;*/
  -webkit-transform: scale(1, 1);
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  transform: scale(1, 1);
  opacity: 1;
}
.chart-container .chart-controls-top-left {
  top: 10px;
  left: 10px;
  opacity: 0.7;
}
.chart-container .chart-controls-left {
  top: 10px;
  left: 10px;
  opacity: 0.7;
  margin-top: 50px;
}
.chart-container .chart-extra {
  position: absolute;
  /*width: 72px;*/
  height: 31px;
  line-height: 31px;
  top: 10px;
  right: 10px;
  display: none;
  background-color: #eee;
  opacity: 0.7;
  text-align: center;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  border-radius: 4px;
  /* Animation */
  display: block;
  opacity: .3;
  -o-transform-origin: top center;
  -webkit-transform-origin: top center;
  -moz-transform-origin: top center;
  -ms-transform-origin: top center;
  transform-origin: top center;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  -webkit-transform: scale(1, 0);
  -moz-transform: scale(1, 0);
  -ms-transform: scale(1, 0);
  -o-transform: scale(1, 0);
  transform: scale(1, 0);
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.chart-container .chart-extra:hover {
  opacity: 1;
}
.chart-container .chart-extra.open {
  display: block;
  -webkit-transform: scale(1, 1);
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  transform: scale(1, 1);
  opacity: 1;
}
.chart-container .chart-extra span {
  padding: 6px 10px;
  font-size: 26px;
}
@media (max-width: 767px) {
  .chart-container .chart-controls-top-left .navbar-nav > li.dropdown-label {
    width: 31px;
    padding: 0;
  }
  .chart-container .chart-extra span {
    padding: 6px 10px;
    font-size: 20px;
  }
  .navbar-nav .open .dropdown-menu {
    /*width: 260px;*/
    width: 100%;
    background-color: #fff;
  }
}
/*# sourceMappingURL=controls.css.map */