/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 14, 2017, 2:04:27 PM
    Author     : hshatnawi
*/
/*@tree-w: 0;*/
/* Layout */
.tree-container {
  /*width: @container-w;*/
  margin: 0 auto;
  position: relative;
}
.tree-container .alert {
  /*            position: absolute;
                    top: 0;
                    right: 0;
                    left: 0;
                    z-index: 100;
                    opacity: 0.90;*/
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  /*            &:hover {
                        opacity: 1;
                    }*/
}
.tree-container .ajax-loader {
  background-color: rgba(100, 100, 100, 0.1);
  z-index: 100;
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.tree-container .ajax-loader span {
  display: block;
  height: 50%;
  vertical-align: middle;
}
.tree-container .ajax-loader i {
  display: block;
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
}
.chart-container {
  height: 85vh;
  max-height: 85vh;
  /* The node */
}
.chart-container .node {
  position: relative;
  width: 64px;
  height: 34px;
  border: 1px solid transparent;
  border-color: #8e8c84;
  border-radius: .25rem;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.chart-container .node.male {
  background-color: #d9edf7;
}
.chart-container .node.male,
.chart-container .node.male a {
  color: #31708f;
}
.chart-container .node.male.dead {
  background-color: #eef7fb;
}
.chart-container .node.female {
  background-color: #f2dede;
}
.chart-container .node.female,
.chart-container .node.female a {
  color: #a94442;
}
.chart-container .node.female.dead {
  background-color: #f9f0f0;
}
.chart-container .node.dead {
  position: relative;
}
.chart-container .node.dead:after {
  content: '';
  border-top: 3px solid black;
  border-radius: 3px;
  position: absolute;
  width: 20px;
  height: 20px;
  top: 2px;
  left: 2px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.chart-container .node.dead.exporting:after {
  display: none;
}
.chart-container .node.clan {
  background-color: #dff0d8;
}
.chart-container .node.clan,
.chart-container .node.clan a {
  color: #3c763d;
}
.chart-container .node.clan.dead {
  background-color: #dff0d8;
}
.chart-container .node.clan.dead,
.chart-container .node.clan.dead a {
  color: #3c763d;
}
.chart-container .node.clan:after {
  border-top: none;
}
.chart-container .node.timeline-node {
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  /*opacity: 0.25;*/
}
.chart-container .node.timeline-node.male.dead {
  background-color: #d9edf7;
}
.chart-container .node.timeline-node.female.dead {
  background-color: #f2dede;
}
.chart-container .node.timeline-node.gray-node {
  background-color: #444;
  opacity: 0.25;
}
.chart-container .node.timeline-node.gray-node.male.dead {
  background-color: #444;
}
.chart-container .node.timeline-node.gray-node.female.dead {
  background-color: #444;
}
.chart-container .node.timeline-node.gray-node,
.chart-container .node.timeline-node.gray-node a {
  color: #eee;
}
.chart-container .node.timeline-node.transparent-node {
  opacity: 0.25;
}
.chart-container .node.timeline-node.empty-node {
  content: '';
  width: 10px;
  opacity: 0.25;
}
.chart-container .node.timeline-node.empty-node a {
  display: none;
}
.chart-container .node.timeline-node:after {
  display: none;
}
.chart-container .node.highlight {
  outline: none;
  box-shadow: 0 0 32px #e0273c;
}
.chart-container .node > a {
  font-size: 11.5px;
  cursor: help;
  word-wrap: break-word;
}
.chart-container tr {
  -webkit-transition: visibility 0.4s ease;
  -moz-transition: visibility 0.4s ease;
  -ms-transition: visibility 0.4s ease;
  -o-transition: visibility 0.4s ease;
  transition: visibility 0.4s ease;
  -webkit-transition: display 0.4s ease;
  -moz-transition: display 0.4s ease;
  -ms-transition: display 0.4s ease;
  -o-transition: display 0.4s ease;
  transition: display 0.4s ease;
}
a.disabled,
a[disabled] {
  pointer-events: none;
}
.panel-danger .btn {
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;
}
@media (min-width: 979px) {
  .tree-container {
    height: 86vh;
    max-height: 86vh;
  }
}
/*# sourceMappingURL=layout.css.map */